#symbol_map {
    left: 5vh;
    right: 5vh;
    height: 60vh;
    width: 100vh;
    margin: 0 auto;
}

#title { 
    font-family: "Roboto Mono", monospace;
    font-size: 5vh;
    text-align: center;
}

#visualisation {
    display: block;
    justify-content: center;
    align-items: center;
}

#row {
    display: block;
    text-align: center;
    margin: 2vh 0;
}

#row div {
    display: inline-block;
    height: 72vh;
    width: 48vh; /* Set each map to be half the width of its container */
    margin: 0 2vh; /* Space between maps */
}

#line_map, #Indexline_map, #stackedBar, #dualAxis {
    left: 5vh;
    right: 5vh;
    height: 60vh;
    width: 100vh;
    margin: 0 auto;
}
