#symbol_map {
	left: 5vh;
	right: 5vh;
	height: 72vh;
	width: 100vh;
	margin: 0 auto;
}
#title { 
	font-family: "Roboto Mono",monospace;
	font-size: 5vh;
	text-align: center;
}
#visualisation {
	display: grid;
	justify-content: center;
	align-items: center;

}
#line_map {
	left: 5vh;
	right: 5vh;
	height: 72vh;
	width: 100vh;
	margin: 0 auto;
}
#Indexline_map{
	left: 5vh;
	right: 5vh;
	height: 72vh;
	width: 100vh;
	margin: 0 auto;
}
#stackedBar{
	left: 5vh;
	right: 5vh;
	height: 72vh;
	width: 100vh;
	margin: 0 auto;
}
#dualAxis{
	left: 5vh;
	right: 5vh;
	height: 72vh;
	width: 100vh;
	margin: 0 auto;
}